.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #070707E3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B1A17;
    border-radius: 4px;
    border-top: 4px solid #A35709;
    padding: 2.5rem 5rem 1rem 5rem;
    gap: 3rem;
}

.alert__text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.alert__buttons {
    display: flex;
    gap: 0.5rem;
}

.hidden {
    display: none;
}