.button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B1A17;
    border-radius: 8px;
    border: 2px solid #FF8303;
    padding: 0 1.5rem 0 1.5rem;
    cursor: pointer;
}

.button-add:hover {
    background-color: #23221F;
}

.input {
    background-color: #242320;
    color: #F0E3CAA3;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border: 1px solid #FF8303;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

.input:hover {
    background-color: #2B2A27;
    color: #F0E3CA;
}

.button-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #1B1A17;
    border-radius: 5px;
    border: 2px solid #A35709;
    cursor: pointer;
}

.button-delete:hover {
    background-color: #23221F;
}

.button-share,
.button-info,
.button-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #242320;
    border-radius: 6px;
    border: 2px solid #A35709;
    cursor: pointer;
}

.button-info {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.button-share:hover,
.button-info:hover,
.button-edit:hover {
    background-color: #2B2A27;
}

.button-confirm,
.button-cancel {
    width: 64px;
    height: 24px;
    background-color: #242320;
    border: 1px solid #A35709;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    color: #D9D9D9;
    cursor: pointer;
}

.button-confirm:hover,
.button-cancel:hover {
    border: 1px solid #FF8303;
}

.textarea {
    height: 343px;
    background-color: #242320;
    color: #F0E3CAA3;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border: 1px solid #FF8303;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    resize: none;
}

.textarea:hover {
    background-color: #2B2A27;
    color: #F0E3CA;
}

.button-copy,
.button-vk,
.button-telegram,
.button-whatsapp,
.button-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #23221F;
    border-radius: 24px;
    border: none;
    cursor: pointer;

}