.task {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
}

.task__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1F1E1B;
    border-radius: 8px;
    border: 2px solid #A35709;
}

.text__area {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.text__title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #F0E3CA;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text__description {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #F0E3CA;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task__tools {
    width: auto;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.hidden {
    display: none;
}